$blue-grey-darken-2: #455a64;
$blue-grey-lighten-3: #b0bec5;
$save-bottom-color: #81c784;
$small: 490px;

.no-wrap{
   white-space: nowrap;
}
.float-right{
    float:right;
}
.text-blue-grey-darken-2 {
    color:$blue-grey-darken-2;
}
.flex {
    display:flex;
}
.title {
    font-size:1.3rem;
    font-weight: 600;
}
.sub-title {
    font-size:1.2rem;
}
.bg-blue-grey-lighten-3 {
    background-color: $blue-grey-lighten-3;
}

.text-green-lighten-2 {
    color: $save-bottom-color;
}
.bold-800{
    font-weight:800;
}
.display-block {
    display:block;
}

.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.top-25{
    top:25%;
}
.top-50px {
    top:50px;
}
.height-fit-content{
    height:fit-content;
}
.pointer{
    cursor: pointer;
}
.right{
    right:3%;
}
.header {
    font-size:2.5rem
}
.weather-card-header{
    font-size: 1.35rem;
    border-bottom: 2px solid $blue-grey-darken-2;
}

.weather-card-title{
    font-size: 2rem;
}

.margin-right-5 {
    margin-right: 5%;
}

.weather-card-value{
    font-size: 3rem;
    font-weight: bold;
}

.weather-button {
    background-color: #EBEDEF;
    border-color: white;
    color: $blue-grey-darken-2;
    font-size: 1.25rem;
}

.weather-button.active {
    background-color: $blue-grey-darken-2;
    border-color: white;
    color: white;
    font-size: 1.25rem;
}

.weather-carousel{
    display: block;
    top: 50px;
}

.hide-on-mobile {
    @media screen and (max-width: $small) {
        display: none;
      }
}

.no-border{
    border:0px solid !important
}

.map {
    height: 60vh;
}

.table tbody tr:focus{
    background-color: aliceblue;
}

.background-color-aliceblue{
    background-color: aliceblue;
}